@import "../constants.pcss";

.form__amount {
    margin-top: 0.625em;
}

.form__cost {
    margin-top: 2.375em;
}

.form__footer {
    margin-top: 0.75em;
}

.form__choice {
    margin-top: 3em;
    margin-bottom: 1.875em;
}

.form__footer,
.form__choice {
    text-align: center;
}

.form__error {
    margin-top: 0.5em;
    color: var(--error-color);
}
