:root {
    --amount--border: 0.0714em solid hsl(0, 0%, 80%);
    --amount--padding-vertical: 2.0714em;
}

.amount {
    padding-top: var(--amount--padding-vertical);
    padding-bottom: var(--amount--padding-vertical);
    border-top: var(--amount--border);
    border-bottom: var(--amount--border);
    font-size: 0.875em;
    text-align: center;
}

.amount__select {
    min-width: 4.4286em;
}
