@font-face {
    font-family: BebasNeue;

    /* noinspection CssUnknownTarget */
    src: url(/fonts/BebasNeue.woff2) format("woff2"), url(/fonts/BebasNeue.woff) format("woff");
}

.lettering {
    font-family: BebasNeue, sans-serif;
    color: hsl(0, 0%, 44%);
    letter-spacing: 0.0357em;
}
