.product {
    font-size: 1.5em;
}

.product__label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    overflow: hidden;
    cursor: default;
}

.product__name {
    padding-top: 0.2083em;
    min-width: 7em;
    flex: 1;
}

.product__price {
    font-size: 0.6667em;
    color: hsl(0, 0%, 33%);
}
