:root {
    --outline: hsl(217, 62%, 72%) solid 0.0625rem;
    --item--color: hsl(194, 98%, 38%);
    --item-light--color: hsl(196, 42%, 80%);
    --item-dark--color: hsl(208, 46%, 38%);
    --error-color: red;
}
